@*
* This template takes a single argument, a String containing a
* message to display.
*@
@(message: String)

@*
* Call the `main` template with two arguments. The first
* argument is a `String` with the title of the page, the second
* argument is an `Html` object containing the body of the page.
*@
@main("$name$") {
    @*
    * Get an `Html` object by calling the built-in Play welcome
    * template and passing a `String` message.
    *@
    @* @play20.welcome(message, style = "Java")
    *@
    <style>
            body {
                font-family: "Droid Sans", sans-serif;
            }

    </style>
    <div>
        <img rel="shortcut icon" src="@routes.Assets.versioned("images/ict.png")" style="float: left;
            width: 200px;
            height: 70px"/>
    </div>
    <iframe src="/$name$/api-docs/swagger-ui/index.html?url=/$name$/api-docs/swagger.json#/routes" style="border: 0px;
        width: 100%;
        height: 3000px">api</iframe>
}